export TTTOOLS=/home/anton/ttsetup@tt07
export OPENLANE_ROOT=/home/anton/ttsetup@tt07/openlane
export PDK_ROOT=/home/anton/ttsetup@tt07/pdk
export PDK=sky130A
export OPENLANE_TAG=2024.04.22
export OPENLANE_IMAGE_NAME=efabless/openlane:2024.04.22
source /home/anton/ttsetup@tt07/venv/bin/activate
